---
http_interactions:
- request:
    method: get
    uri: https://www.kimonolabs.com/kimonoapis?apikey=7e874a2997f8fba3f6b8da6c7ddfe119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"tJLQ4aJwMSBSW62uZhm2eg=="
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 10,
          "data": [
            {
              "createdon": "2015-01-02T21:35:40.944Z",
              "frequency": "manually",
              "id": "ascnmvou",
              "lastrun": "2015-01-02T21:35:42.975Z",
              "lastrunstatus": "success",
              "lastsuccess": "2015-01-02T21:35:42.918Z",
              "meta": false,
              "name": "PvP",
              "newdata": true,
              "targeturl": "http://pvponline.com/comic/2015/01/02/career-opportunities",
              "tags": [],
              "instructions": {
                "collectionprop": "",
                "type": "single",
                "limit": 1,
                "generated": "",
                "paginated": false
              },
              "lastversion": 1,
              "webhookuris": [],
              "alertemails": [],
              "collectionNames": [
                "comic"
              ]
            },
            {
              "createdon": "2015-01-02T19:51:15.395Z",
              "frequency": "realtime",
              "id": "3z3pa27k",
              "lastrun": "2015-01-02T20:10:01.671Z",
              "lastrunstatus": "success",
              "lastsuccess": "2015-01-02T19:51:17.458Z",
              "meta": false,
              "name": "Table Titans",
              "newdata": false,
              "targeturl": "http://www.tabletitans.[...]
- request:
    method: get
    uri: https://www.kimonolabs.com/apikey=7e874a2997f8fba3f6b8da6c7ddfe119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Sat, 21 Feb 2015 01:21:39 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        <!doctype html>
        <!-- kimono layout template: /public/partials/layout.tpl -->
        <html>
            <head>
                <title>Kimono : Turn websites into structured APIs from your browser in seconds</title>
                <meta name="keywords" content="Kimono, API, data, web scraping, data mining">
                <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/vendor.css">

        <link rel="stylesheet" href="/css/app.css">

        <!-- necessary to install chrome extension from the website -->
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/deoaddaobnieaecelinfdllcgdehimih">

            </head>
            <body ng-app="kimWebsiteApp" ng-cloak class="ng-cloak">
              <section id="Wrap">
                <div id="ColorBar">
          <div class="kim-yellow"></div>
          <div class="kim-amber"></div>
          <div class="kim-orange"></div>
          <div class="kim-sunset"></div>
          <div class="kim-red"></div>
          <div class="kim-fuchsia"></div>
          <div class="kim-purple"></div>
          <div class="kim-indigo"></div>
          <div class="kim-blue"></div>
          <div class="kim-aqua"></div>
          <div class="kim-green"></div>
          <div class="kim-lime"></div>
        </div>

        <div id="Header" ng-controller="HeaderController" ng-cloak class="ng-cloak">

          <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="/" target="_self">kim<span>o</span>n<span>o</span></a> -->
              <a class="navbar-brand" href="/" target="_self" style="text-transform:none">kimono<span>labs</span></a>
              <!-- <p class="navbar-text hidden-sm hidden-xs">Create APIs where they don't exist</p> -->
              <p class="beta-tag">BETA</p>
              <a class="navbar-text kim-new" ng-show="flags.new_features.length > 0" title="New Features" ng-class="{'active':flags.showNotificationPanel, 'highlighted': size(new_features) > 0}" ng-click="openNotifications()"></a>
              <p ng-show="size(new_features) > 0" class="beta-tag kim-feature-count">{{size(new_features)}}</p>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li ng-if="hackUser" ng-class="isActive('/hacks')"><a href="/hacks" target="_self"><span class="glyphicon glyphicon-floppy-disk"></span> Kimono Hacks</a></li>
                <li ng-if="hackUser" ng-class="isActive('/hacks')"><a href="http://tlk.io/kimono" target="_self"><span class="glyphicon glyphicon-comment"></span> Live Chat</a></li>
                <li><a href="http://builtwith.kimonolabs.com" target="_self">#BuiltWithKimono</a></li>
                <li ng-class="isActive('/pricing')"><a href=[...]
- request:
    method: get
    uri: https://www.kimonolabs.com/kimonoapisascnmvou?apikey=7e874a2997f8fba3f6b8da6c7ddfe119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        Cannot GET /kimonoapisascnmvou?apikey=7e874a2997f8fba3f6b8da6c7ddfe119
  recorded_at: Sat, 21 Feb 2015 18:43:36 GMT
- request:
    method: get
    uri: https://www.kimonolabs.com/kimonoapis/ascnmvou?apikey=7e874a2997f8fba3f6b8da6c7ddfe119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "createdon": "2015-01-02T21:35:40.944Z",
          "frequency": "manually",
          "id": "ascnmvou",
          "lastrun": "2015-01-02T21:35:42.975Z",
          "lastrunstatus": "success",
          "lastsuccess": "2015-01-02T21:35:42.918Z",
          "meta": false,
          "name": "PvP",
          "newdata": true,
          "targeturl": "http://pvponline.com/comic/2015/01/02/career-opportunities",
          "tags": [],
          "instructions": {
            "urls": [],
            "collectionprop": "",
            "type": "single",
            "limit": 1,
            "generated": "",
            "paginated": false
          },
          "lastversion": 1,
          "webhookuris": [],
          "alertemails": [],
          "collectionNames": [
            "comic"
          ]
        }
  recorded_at: Sat, 21 Feb 2015 18:44:02 GMT
recorded_with: VCR 2.9.3
