---
http_interactions:
- request:
    method: get
    uri: https://www.kimonolabs.com/kimonoapis?apikey=7e874a2997f8fba3f6b8da6c7ddfe119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "object": "list",
          "count": 10,
          "data": [
            {
              "createdon": "2015-01-02T21:35:40.944Z",
              "frequency": "manually",
              "id": "ascnmvou",
              "lastrun": "2015-01-02T21:35:42.975Z",
              "lastrunstatus": "success",
              "lastsuccess": "2015-01-02T21:35:42.918Z",
              "meta": false,
              "name": "PvP",
              "newdata": true,
              "targeturl": "http://pvponline.com/comic/2015/01/02/career-opportunities",
              "tags": [],
              "instructions": {
                "collectionprop": "",
                "type": "single",
                "limit": 1,
                "generated": "",
                "paginated": false
              },
              "lastversion": 1,
              "webhookuris": [],
              "alertemails": [],
              "collectionNames": [
                "comic"
              ]
            },
            {
              "createdon": "2015-01-02T19:51:15.395Z",
              "frequency": "realtime",
              "id": "3z3pa27k",
              "lastrun": "2015-01-02T20:10:01.671Z",
              "lastrunstatus": "success",
              "lastsuccess": "2015-01-02T19:51:17.458Z",
              "meta": false,
              "name": "Table Titans",
              "newdata": false,
              "targeturl": "http://www.tabletitans.[...]
- request:
    method: get
    uri: https://www.kimonolabs.com/kimonoapis/ascnmvou?apikey=7e874a2997f8fba3f6b8da6c7ddfe119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "createdon": "2015-01-02T21:35:40.944Z",
          "frequency": "manually",
          "id": "ascnmvou",
          "lastrun": "2015-01-02T21:35:42.975Z",
          "lastrunstatus": "success",
          "lastsuccess": "2015-01-02T21:35:42.918Z",
          "meta": false,
          "name": "PvP",
          "newdata": true,
          "targeturl": "http://pvponline.com/comic/2015/01/02/career-opportunities",
          "tags": [],
          "instructions": {
            "urls": [],
            "collectionprop": "",
            "type": "single",
            "limit": 1,
            "generated": "",
            "paginated": false
          },
          "lastversion": 1,
          "webhookuris": [],
          "alertemails": [],
          "collectionNames": [
            "comic"
          ]
        }
  recorded_at: Sat, 21 Feb 2015 20:03:07 GMT
recorded_with: VCR 2.9.3
